/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #ec7332, #f7f9fd);
    color: #0943f0;
}

.login-container {
    background-color: #0675fd;
    color: #333;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.2rem;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input {
    width: 96%;
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border-color: #6a11cb;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

#errorMessage {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.login-btn {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    border: none;
    padding: 0.8rem 1.5rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.login-btn:hover {
    background: linear-gradient(to left, #d0bae8, #c4d5f3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-btn:active {
    transform: scale(0.98);
}
